---
 const { text, classes, type, href = '/' } = Astro.props
---
<a class=`bg-gradient-primary p-4 rounded text-bold md:text-subtitle text-center text-white ${classes}` type={type} href={href}>{text}</a>