---
import { Image } from "astro:assets"
import ContactForm from "../components/Contact/Form"
---

<section class="bg-[url(/images/contact.webp)] bg-no-repeat bg-cover bg-center h-auto">
  <div class="grid grid-cols-1 md:grid-cols-[1fr_1fr] p-4 md:py-0 items-center max-w-7xl gap-10 mx-auto">
    <div class="text-center max-w-2xl">
      <h2 class="text-large md:text-custom text-white"><span class="font-bold">¡Sé parte del cambio</span><br> lleva tu empresa a nuevas alturas con nosotros!</h2>
      <p class="text-white text-default md:text-large">Únete a nosotros si eres: <br />Director, Dueño, Emprendedor, Sucesor de Empresas Familiares,</p>
      <ContactForm client:visible />
    </div>
    <div class="hidden md:flex justify-end items-center ">
      <Image src="/images/contact1.webp" alt="" width={604} height={825} />
    </div>
  </div>
</section>