---

---

<section class="bg-[url('/images/focus.webp')] bg-no-repeat bg-center bg-cover px-4 py-16 md:p-52">
  <div class="flex flex-col justify-center items-center max-w-7xl mx-auto h-full text-white text-center"> 
    <h2 class="text-subtitle md:text-title">Descubre un nuevo enfoque</h2>
    <p class="text-default md:text-large text-center">En <span class="text-bold md:text-subtitle">IULAND Business School</span>, creemos en mirar el negocio con una perspectiva fresca y transformadora. Este programa te invita a descubrir nuevas oportunidades y desafíos, redefiniendo tu modelo de negocio.</p>
  </div>
</section>