---

---

<section class="bg-[url('/images/focus.webp')] bg-no-repeat bg-center bg-cover px-4 py-8 md:p-24">
  <div class="flex flex-col justify-center items-center max-w-7xl mx-auto h-full text-white text-center"> 
    <h2 class="text-custom uppercase">Planeación estrategica e innovación</h2>
    <p class="text-default md:text-large text-center">Nuevos contextos necesitan nuevos liderazgos empresariales que se adapten y logren innovar para mantener relevancia, diferenciación y continuidad.</p>
  </div>
</section>