---
import { siFacebook, siInstagram, siLinkedin } from 'simple-icons'
import Icon from '../components/Icon.astro'
import { Image } from 'astro:assets'
---

<footer class="bg-primary p-10">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 text-white items-center">
    <section class="flex gap-4 justify-center md:justify-start items-center">
      <a href="https://www.facebook.com/IulandBusinessleadershipschool" class="hover:scale-110 transition-all duration-500" target="_blank"><Icon fill="#FFFFFF" icon={siFacebook}/></a>
      <a href="https://www.instagram.com/iulandbusinessleadershipschool" class="hover:scale-110 transition-all duration-500" target="_blank"><Icon fill="#FFFFFF" icon={siInstagram}/></a>
      <a href="https://www.linkedin.com/company/iuland/" class="hover:scale-110 transition-all duration-500" target="_blank"><Icon fill="#FFFFFF" icon={siLinkedin}/></a>
    </section>
    <Image src="/images/logo-white.svg" alt="" width={426} height={176} />
    <section class="text-center md:text-right">
      <p>Circuito Interior Juan Pablo II #1084</p>
      <a href="tel:3781222105">TEL. (378) 122 2105</a>
    </section>
  </di>
</footer>