---
import { Image } from 'astro:assets'
import Button from '../components/Button.jsx'
---
<div class="flex flex-col md:flex-row justify-center md:justify-between text-white p-4">
  <section class=" text-center max-w-md flex items-center justify-center">
    <Image src="/images/logo.svg" alt="A bird." width="215" height="96" loading='eager'/>
  </section>
  <section class="text-primary flex flex-col md:flex-row items-center gap-5 p-4 ">
    <h2 class="text-center md:text-right text-subtitle">Habla con un Coordinador de <br> Cuentas Empresariales</h2>
    <Button text="M치s Informaci칩n" href='https://api.whatsapp.com/send/?phone=523781222105&text&type=phone_number' target='_blank' />
  </section>
</div>

<div class="flex flex-col md:flex-row justify-around items-end bg-cover bg-[url('/images/hero.webp')] bg-center h-[667px] xl:bg-right-center lg:h-[775px] bg-no-repeat text-white">
  <section class="grid gap-2 md:max-w-3xl text-center self-center">
    <h2 class="text-subtitle lg:text-title">Programa de <br>Alto Desempe침o</h2>
    <h3 class="text-default lg:text-custom uppercase">Para Empresas en Crecimiento</h3>
    <p class="bg-accent p-4 px-16 rounded text-bold md:text-subtitle text-center text-white mt-10 w-86 mx-auto">Pr칩ximo Programa <br>31 Agosto 2024</p>
  </section>
  <img class="hidden md:block" src="/images/hero.png" alt="">
</div>