---
import Objective from '../components/Objective.astro'
---

<section class="max-w-screen-2xl mx-auto p-10">
  <h2 class="text-custom text-primary text-center"><span class="text-title">Objetivos</span> del Programa</h2>
  <div class="grid grid-cols-1 lg:grid-cols-[2fr_2fr] p-2 md:p-10 gap-10">
    <img src="/images/objectives.png" alt="">
    <section class="grid gap-4 w-full">
      <Objective title="Adaptación Eficiente" content="Identifica y supera desafíos en ti modelo de negocio, fortaleciendo la capacidad de adaptación."/>
      <Objective title="Innovación Estratégica" content="Desarrolla e integra un plan estratégico que fomente la innovación en tu modelo de negocio."/>
      <Objective title="Crecimiento Sostenible" content="Establece una metodología que contribuya a la creación de valor mediante prácticas innovadoras."/>
    </section>
  </div>
</section>