---
import { Image } from 'astro:assets'
import Objective from '../components/Objective.astro'
---

<section class="max-w-7xl mx-auto p-10">
  <h2 class="text-custom text-primary text-center"><span class="text-title">Nuevos</span> Modelos de Negocio</h2>
  <div class="grid grid-cols-1 lg:grid-cols-[2fr_2fr] p-2 md:p-10 gap-10">
    <Image src="/images/objectives.webp" alt="" width="540" height="584" loading='eager'/>
    <section class="grid gap-4 w-full">
      <Objective title="Eficiencia" content="Optimizar el modelo actual"/>
      <Objective title="Crecimiento" content='En Negocios "Nuevos"'/>
      <Objective title="Transformación" content="Del modelo de negocio"/>
    </section>
  </div>
</section>