---
import { Image } from "astro:assets"
import EmailForm from "../components/Contact/EmailForm.jsx"
---

<section class="bg-[url('/images/performance2.webp')] bg-no-repeat bg-center bg-cover px-4 py-8 md:p-24">
  <div class="flex flex-col justify-center items-center max-w-7xl mx-auto h-full text-white text-center"> 
    <h2 class="text-custom uppercase">Un programa de alto desempeño</h2>
    <p class="text-default md:text-large text-center uppercase">10 semanas <br>40 sesiones de alto impacto <br>3 conferencias</p>
  </div>
</section>

<section class="max-w-screen-2xl mx-auto p-10">
  <div class="grid grid-cols-1 lg:grid-cols-[2fr_2fr] items-center p-2 md:p-10 gap-10">
    <Image src="/images/performance.webp" alt="" width={593} height={622} /> 
    <section class="grid gap-4 w-full md:text-large">
      <h2 class="text-custom font-bold text-secondary">"Las empresas que crecen se convierten en inspiración para sus dueños, sus colaboradores y su comunidad"</h2>
      <p>En IULAND acompañamos a las empresas en la transformación de su modelo de negocio brindado sesiones de alto desempeño para que pueda adaptarse a entornos más dinámicos y que se vuelvan más competitivas, rentables, humanas y mejor diferenciadas.</p>
      <button 
        id="temario" 
        class="bg-accent p-4 rounded text-bold md:text-subtitle text-center text-white hover:scale-105 transition-all duration-500 w-86 mx-auto"
      >
        Conoce el Temario
      </button>
    </section>
  </div>
</section>

<dialog id="themeModal" class="w-full max-w-md bg-primary color-white border border-primary rounded items-center p-10">
  <h2 class="text-center text-large text-white">Por favor ingresa tu correo para continuar</h2>
  <EmailForm client:visible />
  <button type="reset" id="close" class="text-center text-white bg-accent2 p-4 rounded text-bold md:text-subtitle hover:scale-105 transition-all duration-500 mx-auto w-full">Cancelar</button>
</dialog>

<script>
  const modal = document.getElementById('themeModal')
  const close = document.getElementById('close')
  const handleClick = () => {
    modal.showModal()
  }

  close.addEventListener("click",  () => modal.close() )

  document.getElementById('temario').addEventListener('click', handleClick)
</script> 