---

---

<section class=" text-center p-12 text-large md:text-custom bg-[#f9f9f9]">
  <h2 class="text-large md:text-custom">¿Que dicen nuestros <span class="font-bold ">Alumnos?</span></h2>
</section>